.wrapper

  = render 'devise/shared/side_bar'

  .main
    .main__top
      .main__top__left-box
        .main__box__left-box__group-name
          = @group.name
        %ul.main__box__left-box__member-list
          Member :
        %ul.main__box__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
      .main__top__edit-btn
        = link_to "edit", edit_group_path(@group)
    .main__body
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message__text', placeholder: 'type a message'
        .form__message__text__mask
          = f.label :image, class: 'form__message__text__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        .message_btn
          = f.submit 'Send', class: 'form__submit'